<div class="main-container">


  <div class="title-container">
    Welcome to the Movie Festival of Alireza Ezaz 9731009
  </div>

  <mat-radio-group style="margin-bottom: 5px" color="accent" [(ngModel)]="language" (change)="onLanguageChange($event)">
    <mat-radio-button style="margin-inline-end: 16px;color: wheat" value="en">English</mat-radio-button>
    <mat-radio-button style="margin-inline-end: 16px;color: wheat" value="ar">Arabic</mat-radio-button>
    <mat-radio-button style="margin-inline-end: 16px;color: wheat" value="de">German</mat-radio-button>
    <mat-radio-button style="margin-inline-end: 16px;color: wheat" value="fa">Farsi</mat-radio-button>
  </mat-radio-group>

  <div class="movies-container">

    <div class="movie-card" *ngFor="let movie of movies">

      <div class="movie-name">{{movie.name}}</div>

      <div class="movie-details">

        <p>{{movie.director}}</p>
        <!--        <p>{{movie.poster}}</p>-->
        <img style="width: 100%;border-radius: 10px;margin: 5px" src="{{movie.poster}}" alt="img">

        <div class="control-container">

          <button [matMenuTriggerFor]="comments" (click)="getMovieComments(movie.id)">See Comments</button>

          <button>Add Comment</button>

          <mat-menu class="comment-container" yPosition="above" #comments>
            <div *ngFor="let comment of this.movieComments">
              <div dir="auto" class="comment">
                {{comment.comment}}
                <span style="margin-inline-start: auto; color: rgba(66, 120, 223, 1)">{{comment.username}}</span>
              </div>
            </div>
          </mat-menu>

        </div>

      </div>

    </div>

  </div>
</div>

